{% extends 'MyAppUserBundle::layout.html.twig' %}
{% block body %}
<h3>Formulaire d'ajout</h3>
    <div class="col-md-12">
    <div class="careplus-appointment-request-form">
{{ form(form) }}
{{ form_errors(form) }}
    </div></div>
{% endblock %}