{% extends 'MyAppUserBundle::layout.html.twig' %}
{% block body %}


    <div class="careplus-search-result-text">
        <h3>Search Cabinet</h3>
        <p>Please put a speciality name</p>
        <form method="post">
            <input type="text" name="specialite">
            <label> <input type="submit" value="Search Now"> <span></span></label>
        </form>
        <i class="fa fa-search"></i>
    </div>












<h5>Liste des Cabinets </h5>
<table border="1">
    <tr>
        <th>Nom</th>
        <th>specialite</th>
        <th>Adresse</th>
    </tr>
    {% for cabinet in cabinets %}
        <tr>
            <td>{{ cabinet.nomDocteur }}</td>
            <td>{{ cabinet.specialite }}</td>
            <td>{{ cabinet.addresse }}</td>
        </tr>
    {%endfor%}
</table>
{% endblock %}