{% extends 'MyAppUserBundle::layout.html.twig' %}
{% block body %}
    <div class="careplus-search-result-text">
        <h3>Search Drugs</h3>
        <p>Please put a Drug name</p>
        <form method="post">
            <input type="text" name="nom">
            <label> <input type="submit" value="Search Now"> <span></span></label>
        </form>
        <i class="fa fa-search"></i>
    </div>






<h5>Liste des Drugs </h5>
<table border="1">
    <tr>
        <th>name</th>
        <th>Type</th>
        <th>Descriptions</th>
    </tr>
    {% for drug in drugs %}
        <tr>
            <td>{{ drug.nom }}</td>
            <td>{{ drug.type }}</td>
            <td>{{ drug.description }}</td>
        </tr>
    {%endfor%}
</table>
{% endblock %}