{% extends 'MyAppUserBundle::layout.html.twig' %}
{% block body %}
    <div class="careplus-search-result-text">
        <h3>Search Drugs</h3>
        <p>Please put a Drug name</p>
        <form method="post">
            <input type="text" name="nom">
            <label> <input type="submit" value="Search Now"> <span></span></label>
        </form>
        <i class="fa fa-search"></i>
    </div>


    <div class="col-md-12">
        <div class="careplus-appointment-bord">
            <ul class="schedule-days">
                <li><span>ID</span></li>
                <li>Name</li>
                <li>Type</li>
                <li>Description</li>

            </ul>
            {% for drug in drugs %}
                <ul>
                    <li>{{ drug.id}}</li>
                    <li>{{ drug.nom }}</li>
                    <li>{{ drug.type }}</li>
                    <li>{{ drug.description }}</li>

                </ul>
            {% endfor %}

        </div></div></div></div></div></div>










{% endblock %}